.projects {
  padding: 80px 10%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects-title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #f4e4e4;
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

/* PROJECT CARD */
.project-card {
  padding: 20px;
  border-radius: 18px;
  border: 3px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  background-origin: border-box;
  background-clip: content-box, border-box;

  transition: 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 175, 255, 0.3);
}

.project-card h2 {
  padding: 15px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  -webkit-background-clip: text;
  color: aliceblue;
}

.project-desc {
  font-size: 15px;
  line-height: 1.7;
  color: #374151;
  margin-bottom: 12px;
}

.project-tech {
  font-size: 14px;
  color: #1e293b;
  margin-bottom: 20px;
}

/* BUTTON */
.project-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  margin-bottom: 15px;
}

.project-btn:hover {
  transform: scale(1.07);
  box-shadow: 0 6px 18px rgba(0, 175, 255, 0.4);
}

.project-btn svg {
  font-size: 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .projects-title {
    font-size: 40px;
  }
}
