.hero {
  /* width: 100%; */
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  gap: 40px;
}

.hero-left img {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.hero-left img:hover {
  transform: scale(1.05);
}

.hero-right {
  flex: 1;
}

.hero-right h1 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-right h1 span {
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-right p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #f4e4e4;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 500;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
}

.hero-resume {
  padding: 25px 45px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid #fff;
}

.hero-resume:hover {
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  color: #000;
  transition: 0.5s;
}

.anchor-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero {
    gap: 20px;
  }

  .hero-left img {
    width: 250px;
  }

  .hero-right h1 {
    font-size: 30px;
  }

  .hero p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0px;
  }

  .hero-action {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .hero-connect,
  .hero-resume {
    padding: 20px 30px;
    border-radius: 40px;
    font-size: 18px;
  }
}
