.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.mywork-title {
  position: relative;
}

.mywork-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}

.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.mywork-format {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.mywork-format img {
  box-sizing: border-box;
  width: 419px;
  height: 280px;
  transition: 0.3s;
}

.mywork-format img:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
  border-radius: 10px;
  transition: 0.3s;
}

.mywork-seemore {
  display: flex;
  gap: 15px;
  border-radius: 50px;
  padding: 30px 60px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.6s;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 22px;
}

.mywork-seemore:hover {
  transition: 0.6s;
  gap: 30px;
}

@media (max-width: 768px) {
  .mywork {
    gap: 40px;
    margin: 40px 20px;
  }

  .mywork-title h1 {
    font-size: 50px;
    width: 90%;
  }

  .mywork-format {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .mywork-format img {
    width: 300px;
    height: 200px;
  }

  .mywork-seemore {
    padding: 20px 40px;
    font-size: 18px;
    margin-bottom: 40px;
  }
}
