/* MAIN ABOUT SECTION */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px 10%;
  /* width: 100%; */
}

/* TITLE */
.about-title h1 {
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;

  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LEFT + RIGHT CONTENT */
.about-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.about-left {
  flex: 1;
  font-size: 18px;
  line-height: 1.8;
  color: #f4e4e4;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-para span {
  font-size: 22px;
  font-weight: 600;
  color: #f4e4e4;
}

/* SKILLS LIST */
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.skill-item {
  padding: 12px 18px;
  background: #f1f5f9;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #334155;
  border-left: 5px solid #2d6cdf;
  transition: 0.3s ease;
}

.skill-item:hover {
  background: #e2e8f0;
  transform: translateX(8px);
}

/* ACHIEVEMENTS SECTION */
.about-achivements {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 30px;
}

.achivement-item {
  text-align: center;
  padding: 25px 35px;
  border-radius: 12px;
  transition: 0.3s ease;
  min-width: 220px;
}

.achivement-item:hover {
  transform: translateY(-8px);
}

.achivement-item h2 {
  font-size: 45px;
  font-weight: 700;
  background: linear-gradient(
    260deg,
    rgba(223, 137, 8, 0.9) -5.09%,
    rgba(180, 21, 255, 0.9)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.achivement-item p {
  font-size: 18px;
  color: #cbd5e1;
  margin-top: 5px;
  font-weight: 500;
}

/* TABLET (900px) */
@media (max-width: 900px) {
  .about {
    padding: 60px 6%;
    gap: 60px;
  }

  .about-title h1 {
    font-size: 45px;
  }

  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .skill-item {
    text-align: center;
  }

  .achivement-item h2 {
    font-size: 38px;
  }
}

/* MOBILE (600px) */
@media (max-width: 600px) {
  .about-title h1 {
    font-size: 36px;
  }

  .about-left {
    font-size: 16px;
  }

  .skill-item {
    font-size: 15px;
    padding: 10px 14px;
  }

  .about-achivements {
    flex-direction: column;
    align-items: center;
  }

  .achivement-item {
    /* width: 100%; */
    max-width: 280px;
  }
}

/* EXTRA SMALL MOBILE (380px) */
@media (max-width: 380px) {
  .about-title h1 {
    font-size: 30px;
  }

  .skill-item {
    font-size: 14px;
  }

  .achivement-item h2 {
    font-size: 30px;
  }

  .achivement-item p {
    font-size: 15px;
  }
}
