.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 20px;
  list-style: none;
}

.nav-connect {
  padding: 20px 20px;
  border-radius: 30px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 30px;
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
}

.nav-connect:hover {
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  transition: 0.5s;
}

.nav-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.nav-links li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  color: aliceblue;
  text-decoration: none;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  /* .navbar {
    margin: 20px 50px;
  }

  .nav-links {
    display: none;
  transition: right 0.4s ease-in-out;

  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    width: 30px;
    left: 290px;
    top: 30px;
  }

  .nav-links {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 40px;
    background-color: #1f0016;
    width: 350px;
    z-index: 2;
    transition: right 0.5s ease-in-out;
    right: -350px;
  }

  .nav-links li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  } */
  .navbar {
    padding: 20px 40px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -350px;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 80px;
    padding-left: 40px;
    background-color: #1f0016;
    transition: right 0.4s ease-in-out;
    z-index: 999;
  }

  .nav-links li {
    font-size: 22px;
  }

  .nav-mob-open {
    display: block;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .nav-connect {
    display: none;
  }
}
