.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 20px;
  max-width: 400px;
}

.footer-top-right {
  display: flex;
  gap: 35px;
  align-items: center;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}

.footer-email-input input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-family: Outfit;
}

.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(260deg, #df8908 -5.09%, #b415ff);
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
}
.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover {
  border: 2px solid white;
}

.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .footer {
    margin: 50px 30px;
    gap: 40px;
  }

  .footer-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer-top-left p {
    font-size: 18px;
    max-width: 100%;
  }

  .footer-email-input {
    padding-right: 20px;
  }

  .footer-subscribe {
    padding: 20px 40px;
    font-size: 18px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
  }

  .footer-bottom-right {
    gap: 30px;
  }
}
